<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/library.css" />
    <title>Home</title>

</head>
<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="containerHead">
    <h1>HuneBite</h1>
</div>
<div class="parent">
    <div class="containerCenter">
    <table>
        <td>
        <h1>Search our Page</h1>
        </td>
        <div class="container">
            <tr>
                <td>
                <div class="search" >
                    <input type="text" placeholder="Search">
                    <button>Search</button>
                </div>
                </td>
            </tr>
            <tr>
                <td>
                 <div class="buttons">
                    <button type="button" class="btn btn-danger">Make Recipe</button>
                    <button type="button" class="btn btn-danger">Make Ingredient</button>
                </div>
                </td>
            </tr>
        </div>
    </table>
    </div>

    <div class="container-left">
    <h1>Menu</h1>
        <ul class="list-group" th:each="RecipeBook : ${RecipeBook}">
            <td><a th:href="@{/recipe/detail/Boiled Egg}" th:text="${RecipeBook.getRecipeBookName()}"></a></td>

        </ul>


    </div>
    <div class="container-right">
    <h1>Possibly intresting content container</h1>
    </div>
</div>

</body>
</html>