<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/library.css" />
    <title>Home</title>

</head>
<body>
<div class="containerHead">
    <div th:replace="~{fragments/general :: home}"></div>
</div>


<div class="parent">
    <div class="containerCenter">
        <table>
            <tr>
                <td>
                    <h1>Search our Page</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="container">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <div class="btn btn-outline-success">Search</div>
                        </div>
                        <div class="button-container">
                            <a href="/recipe/new" class="btn btn-outline-success">Make Recipe</a>
                            <a href="/ingredient/new" class="btn btn-outline-success">Make Ingredient</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container-left">
        <h1>Menu</h1>
        <ul class="list-group" th:each="RecipeBook : ${allRecipeBooks}">
            <li><a th:href="@{'/recipebook/detail/' + ${RecipeBook.recipeBookName}}" th:text="${RecipeBook.recipeBookName}"></a></li>
        </ul>
        <div class="button-container">
            <a href="recipebook/new" class="btn btn-outline-success">Add Recipebook</a>
        </div>
    </div>

    <div class="container-right">
    <h1>Possibly interesting content container</h1>
    </div>
</div>

</body>
</html>