<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title th:text="|Details for Ingredient: ${ingredientToBeShown.ingredientName}|"></title>
</head>

<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="parent">

    <div class="containerHead">
        <h1>HuneBite</h1>
    </div>

<div class="containerCenter">

    <div>
    <h1>Details of Ingredient: <span th:text="${ingredientToBeShown.ingredientName}"></span></h1>
        <ul>

    <li>Description: <span th:text="${ingredientToBeShown.ingredientDescription}"></span> </li>
    <li>Type <span th:text="${ingredientToBeShown.unitType.getDisplayOfUnit()}"></span></li>
    <li>Calories: <span th:text="${ingredientToBeShown.calories}"></span></li>
    <li>Proteins:<span th:text="${ingredientToBeShown.proteins}"></span></li>
    <li>Fats:<span th:text="${ingredientToBeShown.fats}"></span></li>

        </ul>
    </div>

</div>

    <div class="container-left">
        <h1>Menu</h1>

    </div>
    <div class="container-right">
        <h1>Possibly interesting content container</h1>
    </div>


</div>


</body>
</html>

