<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredient Overview</title>

</head>
<body>
<div class="container">
<h1>All ingredients</h1>
    <table>
        <tr>
            <th>Ingredient List</th>



        </tr>
        <tr th:each="ingredient : ${allIngredients}">
            <td><a th:href="@{/ingredient/detail/{ingredientName}(ingredientName = ${ingredient.ingredientName})}"
                   th:text="${ingredient.ingredientName}"></a></td>

        </tr>
    </table>

<p>
    <a th:href="@{/ingredient/new}">Add a new ingredient.</a>
</p>

</div>

</body>
</html>

