<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head   th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <meta charset="UTF-8">
    <title>Add Ingredient here</title>
</head>
<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="parent">

    <div class="containerHead">
        <div th:replace="~{fragments/general :: navbar}"></div>
    </div>

    <div class="containerCenter">
        <div class="ingredientFormDiv">
            <h1>Add new ingredient</h1>
             <form th:action=" @{/ingredient/new}" method="post" th:object="${ingredient}">
                <input type="hidden" th:field="*{ingredientId}">


                 <table class="ingredientTable">
                <tr>
                    <td><label class="form-label" for="nameField">Name</label></td>
                    <td><input type="text" class="form-control input-text" id="nameField" th:field="*{ingredientName}"
                            size="36" placeholder="Ingredient Name"/> </td>
                    <td><small th:if="${#fields.hasErrors('ingredientName')}" th:errors="*{ingredientName}">Error!</small></td>
                </tr>
                     <tr>
                        <td><label class="form-label" for="descriptionField">Description</label></td>
                        <td><textarea class="form-control" id="descriptionField" th:field="*{ingredientDescription}"
                         rows="2" cols="38" placeholder="Optional ingredient description here"> </textarea>
                        </td>
                     </tr>
                <tr>
                    <td><label class="form-label" for="unitTypeDropDown">Unit Type</label></td>
                    <td>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="unitTypeDropDown" name="unitType">
                            <option class="option-text" th:each="unitTypeOpt : ${T(nl.miwnn13.hunebite.hunebytes.HuneBite.model.UnitType).values()}"
                                    th:value="${unitTypeOpt}" th:text="${unitTypeOpt.displayOfUnit}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label class="form-label" for="carbohydratesField">Carbohydrates</label></td>
                    <td><input type="text" class="form-control input-text" id="carbohydratesField" th:field="*{carbohydrates}"
                               size="36"/> </td>
                 </tr>
                <tr>
                    <td><label class="form-label" for="proteinsField">Proteins</label></td>
                    <td><input type="text" class="form-control input-text" id="proteinsField" th:field="*{proteins}"
                        size="36"/> </td>
                    </tr>
                <tr>
                    <td><label class="form-label" for="fatsField">Fats</label></td>
                    <td><input type="text" class="form-control input-text" id="fatsField" th:field="*{fats}"
                        size="36"/> </td>
                    </tr>
            </table>

                 <div id="submitButton">
                     <button type="submit" class="btn btn-outline-success">Submit</button>
                 </div>
             </form>
        </div>
    </div>

    <div class="container-left">

    </div>
    <div class="container-right">

    </div>

</div>
<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>