<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>|Details for book: ${recipeToBeShown.recipeTitle}|</title>
</head>
<body>

<div class="container">
    <h1>Detail for recipe: <span th:text="${recipeToBeShown.recipeTitle}"></span></h1>

    <h2>Steps:</h2>
    <ol type="1">
        <li th:each="step : ${recipeToBeShown.recipeSteps}" th:text="${step}"></li>
    </ol>

    <h2>Recipe description:</h2>
    <p th:text="${recipeToBeShown.recipeDescription}">
    </p>
</div>
</body>
</html>