<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/library.css" />
    <title>Home</title>

</head>
<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="parent">

    <div class="containerHead">
        <h1>HuneBite</h1>
    </div>

    <div class="containerCenter">
        <form th:action=" @{/recipebook/new}" method="post" th:object="${NewRecipeBook}">
            <table>
                <tr>
                    <td><label for="nameField">New RecipeBook</label></td>

                </tr>
                <tr>
                    <td>
                        <input type="text" id="nameField" th:field="*{recipeBookName}" />
                    </td>
    </div>

    <div class="container-left">
        <h1>Menu</h1>


    </div>
    <div class="container-right">
        <h1>Possibly intresting content container</h1>
    </div>

</div>

</body>
</html>
</html>