<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/library.css"/>
    <title>Home</title>

</head>
<body>

<div class="parent">

    <div class="containerHead">
        <div th:replace="~{fragments/general :: navbar}"></div>
    </div>

    <div class="containerCenter">
        <form th:action=" @{/recipebook/new}" method="post" th:object="${NewRecipeBook}">

                    <label for="nameField">New RecipeBook</label>


                        <input type="text" id="nameField" th:field="*{recipeBookName}"/>

                        <div>
                                <label for="recipeToBeSaved">Recipe's</label>
                                <select th:field="*{recipesSet}" id="recipeToBeSaved" name="addRecipeToBook" multiple>
                                    <option th:each="recipe : ${allRecipes}"
                                            th:value="${recipe.recipeId}"
                                            th:text="${recipe.recipeTitle}">
                                    </option>
                                </select>
                                <button type="submit" value="addRecipeToBook" class="btn btn-outline-success">
                                    Create Recipebook</button>
                        </div>
        </form>
    </div>

    <div class="container-left">
    </div>

    <div class="container-right">
        <h1></h1>
    </div>

</div>

</body>
</html>
</html>