<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/library.css" />
    <title>Home</title>

</head>
<body>

<div class="parent">

    <div class="containerHead">
        <div th:replace="~{fragments/general :: navbar}"></div>
    </div>

    <div class="containerCenter">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                th:each="recipe : ${recipeBookToBeShown.recipesSet}">
                <a th:href="@{/recipe/detail/{recipeTitle}(recipeTitle = ${recipe.recipeTitle})}"
                   th:text="${recipe.recipeTitle}"></a>
            </li>
        </ul>

    </div>
    </div>

    <div class="container-left">
        <div class="container-left">
            <h1 th:text="${recipeBookToBeShown.recipeBookName}"></h1>
    </div>
    <div class="container-right">
        <h1></h1>
    </div>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>