<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/library.css" />
    <title>Home</title>

</head>
<body>
<div th:replace="~{fragments/general :: navbar}"></div>



<div class="parent">

    <div class="containerHead">
        <div th:replace="~{fragments/general :: home}"></div>
    </div>

    <div class="containerCenter">
<!--        Main container of the page-->
    </div>

    <div class="container-left">
        <h1>Recipe's</h1>
            <h1 th:text="${recipeBookToBeShown.recipeBookName}"></h1>




    </div>
    <div class="container-right">
        <h1>Nothing to Show Container</h1>
    </div>

</div>

</body>
</html>