<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title th:text="|Details for recipe: ${recipeToBeShown.recipeTitle}|"></title>
</head>
<body>

<div class="parent">

    <div class="containerHead">
        <div th:replace="~{fragments/general :: navbar}"></div>
    </div>

    <div class="containerCenter">
        <div>
            <h1 class="header123">Details for recipe:
                <span th:text="${recipeToBeShown.recipeTitle}"></span>
            </h1>

            <h2 class="header123">Steps:</h2>
            <ol id="recipeStepList" type="1">
                <li th:each="step : ${recipeToBeShown.recipeSteps}" th:text="${step}"></li>
            </ol>

            <h2 class="header123">Recipe description:</h2>
            <p id="recipeDescText" th:text="${recipeToBeShown.recipeDescription}"></p>
        </div>
    </div>

    <div class="container-left">
        <h1>Menu</h1>
        <a th:href="@{/recipe/edit/{recipeTitle}(recipeTitle = ${recipeToBeShown.recipeTitle})}">Edit recipe</a>
    </div>

    <div class="container-right">
        <h2>Ingredients:</h2>
        <ul>
            <li th:each="ingredient : *{recipeToBeShown.recipeIngredientSet}"
                th:text="${ingredient.ingredientAmount} + ' '
                + ${ingredient.ingredient.unitType.getDisplayTotal()} + ' '
                + ${ingredient.ingredient.ingredientName}">
            </li>
        </ul>
        <p th:text="'This recipe has ' + ${#numbers.formatDecimal(recipeToBeShown.getTotalKcalOfRecipe(), 0, 'COMMA', 2, 'POINT')} + ' kilocalories.'"></p>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>