body {
    font-family: Arial, sans-serif;
}
.parent {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: dimgray;
}
.button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; /* Align button in the center horizontally */
    margin-bottom: 20px; /* Add some margin for spacing */
}
.containerCenter {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    width: 50%; /* Set width of the container */
    justify-content: center;
    text-align: center;
    margin: 0 auto; /* Set left and right margins to 'auto' */
    background-color: white; /* Optional background color */
    padding: 20px; /* Optional padding */
    transform: translate(-50%, -50%);
}
.containerHead {
    position: relative;
    z-index: 1;
    top: 0%;
    width: 50%; /* Set width of the container */
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Set left and right margins to 'auto' */
    background-color: forestgreen; /* Optional background color */
    padding: 20px; /* Optional padding */
}

.container-left, .container-right {
    position: absolute;
    width: 25%; /* Set width of the container */
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Set left and right margins to 'auto' */
    background-color: white; /* Optional background color */
    padding: 20px; /* Optional padding */
}
.container-left{
    left: 0;
}
.container-right {
    right: 0;
}

.search {
    margin-top: 20px;

}
.buttons {
    margin-top: 20px;
}
