body {
    font-family: Arial, sans-serif;
}

.homeImageContainer {
    background-image: url(HuneByte.jpg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.parent {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: dimgray;
}
.button-container {
    margin-top: 10px;
}
.containerCenter {
    display: flex;
    position: fixed;
    top: 120px;
    left: 20%;
    right: 20%;
    bottom: 0;
    height: 100%;
    border-spacing: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;

}
.containerHome {
    position: fixed;
    left: 0;
    width: 200px;
    color: white;
}

.containerHead {
    position: absolute;
    z-index: 1;
    top: 0px;
    width: 100%; /* Set width of the container */
    height: 120px;
    margin: 0 auto; /* Set left and right margins to 'auto' */
    background-color: black; /* Optional background color */
    padding: 20px; /* Optional padding */
}

.container-left, .container-right {
    position: fixed;
    width: 20%;
    height: 100%;
    top: 120px;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Set left and right margins to 'auto' */
    background-color: white; /* Optional background color */
    padding: 20px; /* Optional padding */
}
.container-left{
    left: 0;
}
.container-right {
    right: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

}

.search {
    margin-top: 10px;
    margin-bottom: 10px;

}

#submitButton {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    right: 4%;
    bottom: 4%;
}

#stepsTable {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

#ingredientTable {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

#recipeStepButtonDiv {
    margin-top: 2%;
}

#recipeStepList {
    text-align: left;
}

#recipeDescText {
    text-align: left;
}

.header123 {
    text-align: center;
}

.list-group-item .badge {
    position: absolute;
    color: darkblue;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

ul {
    list-style-type: none;
}

